@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.header{
    font-family: 'Roboto Mono', 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#grid{
    height: 500px;
    width: 500px;
    margin-left: 1000px;
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid{
    background-color: white;
}